AWS_REGION=ap-southeast-1
FILE_METADATA_TABLE=file-meta-data
FOLDER_METADATA_TABLE=folder-meta-data
USER_DATA_TABLE=user-data
DELETION_LOG_TABLE=deletion_log
REPLACEMENT_TABLE=replacement
FOLDER_UPLOAD_LOG_TABLE=folder_upload_log
MOVE_LOG_TABLE=move_log
PURGE_LOG_TABLE=purge_log
OPERATION_BATCH_LIMIT=100
SHOW_RESOURCE_NAME_ON_LOG=true
JWT_SECRET=replace-with-a-long-random-secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
